@use "../../styles/mixins" as *;

.tag {
  border-radius: 0.625rem;
  background: #FF6060;
  min-width: 7.1875rem;
  padding: 0.19rem 1rem 0.12rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: white;
    font-size: 0.875rem;
    font-weight: 700;
  }

  @include mobile {
    padding: 0.14rem .75rem 0.11rem .75rem;
    min-width: 5.25rem;

    span {
      font-size: 0.625rem;
    }
  }
}

