@use "../../styles/mixins" as *;

.home {
  display: flex;
  flex-direction: column;
  gap: 2.688rem;

  @include mobile {
    gap: 1.38rem;
  }
}

.locationsContainer {
  background: #F6F6F6;
  border-radius: 1.563rem;
  padding: 3.5rem 3.125rem 2.688rem 3.125rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.75rem;
    row-gap: 3.12rem;

  @include mobile {
    background: none;
    padding: 0;
    row-gap: 1.25rem;
    grid-template-columns: 1fr;
  }
}
