@use "../../styles/mixins" as *;

.collapse {
  display: flex;
  flex-direction: column;

  &.open {
    .collapseButton svg {
        transform: rotate(180deg);
    }
  }
}

.collapseButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem 0.625rem 0.625rem;
  border-radius: 0.3125rem;
  background: #FF6060;
  border: none;
  cursor: pointer;

  span {
    font-size: 1.125rem;
    font-weight: 700;
    color: white;
  }

  svg {
    color: white;
    width: 2rem;
    height: 2rem;
    transition: transform 200ms ease-in-out;
  }
}

.collapseContent {
  padding: 1.25rem;
  background: rgba(246, 246, 246, 0.45);
  border-radius: 0.625rem 0.625rem 0.3125rem 0.3125rem;
  font-size: 1.125rem;
  font-weight: 400;
}
